StudentForm/Service References/StudentService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListStudents">
        <s:complexType />
      </s:element>
      <s:element name="GetListStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListStudentsResult" type="tns:ArrayOfStudent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentEx" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveStudentResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowStudent">
        <s:complexType />
      </s:element>
      <s:element name="ShowStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowStudentResult" type="tns:ArrayOfStudent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentExSearch" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchStudentResult" type="tns:ArrayOfStudent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentExUpdate" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentExDelete" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStudentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetListStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetListStudents" />
  </wsdl:message>
  <wsdl:message name="GetListStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetListStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveStudentSoapIn">
    <wsdl:part name="parameters" element="tns:SaveStudent" />
  </wsdl:message>
  <wsdl:message name="SaveStudentSoapOut">
    <wsdl:part name="parameters" element="tns:SaveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ShowStudentSoapIn">
    <wsdl:part name="parameters" element="tns:ShowStudent" />
  </wsdl:message>
  <wsdl:message name="ShowStudentSoapOut">
    <wsdl:part name="parameters" element="tns:ShowStudentResponse" />
  </wsdl:message>
  <wsdl:message name="SearchStudentSoapIn">
    <wsdl:part name="parameters" element="tns:SearchStudent" />
  </wsdl:message>
  <wsdl:message name="SearchStudentSoapOut">
    <wsdl:part name="parameters" element="tns:SearchStudentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteStudentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="DeleteStudentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListStudents">
      <wsdl:input message="tns:GetListStudentsSoapIn" />
      <wsdl:output message="tns:GetListStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveStudent">
      <wsdl:input message="tns:SaveStudentSoapIn" />
      <wsdl:output message="tns:SaveStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowStudent">
      <wsdl:input message="tns:ShowStudentSoapIn" />
      <wsdl:output message="tns:ShowStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <wsdl:input message="tns:SearchStudentSoapIn" />
      <wsdl:output message="tns:SearchStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input message="tns:UpdateStudentSoapIn" />
      <wsdl:output message="tns:UpdateStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input message="tns:DeleteStudentSoapIn" />
      <wsdl:output message="tns:DeleteStudentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStudents">
      <soap:operation soapAction="http://tempuri.org/GetListStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudent">
      <soap:operation soapAction="http://tempuri.org/SaveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowStudent">
      <soap:operation soapAction="http://tempuri.org/ShowStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <soap:operation soapAction="http://tempuri.org/SearchStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStudents">
      <soap12:operation soapAction="http://tempuri.org/GetListStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudent">
      <soap12:operation soapAction="http://tempuri.org/SaveStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowStudent">
      <soap12:operation soapAction="http://tempuri.org/ShowStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <soap12:operation soapAction="http://tempuri.org/SearchStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap12:operation soapAction="http://tempuri.org/UpdateStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap12:operation soapAction="http://tempuri.org/DeleteStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/StudentService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/StudentService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>